.header {
background-color: green;
color: white;
font-size: 30px;
text-align: center;
width: 100%;
height: 30%;
}
.sub {
background-color: blue;
color: white;
font-size: 20px;
width: 100%;
height: 50px;
}
.pad {
padding: 25px;
background-color: white;
font-size: 20px;
color: black;
}
.divs {
background-color: darkcyan;
color: white;
font-size: 25px;
padding: 25px;
}
.footer {
background-color: gray;
color: white;
font-size: 20px;
}